<div class="container">
  <div class="itinerary-title">
    <h1>Make the <span class='emphasis-title-green'>most</span> out of your commute</h1>
  </div>

  <%= simple_form_for @itinerary do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <div class="itinerary-form-input start-point">
        <%= image_tag "location_here.svg", class:"icon-itinerary" %>
        <%= f.input :start_point,wrapper: false, placeholder: "Where do you start?", class:"input"%>
      </div>
      <div class="itinerary-form-input end-point">
        <%= image_tag "destination.svg", class:"icon-itinerary" %>
        <%= f.input :end_point,wrapper: false, placeholder: "Where are you going?", class:"input" %>
      </div>
    </div>
    <div>
      <%= f.button :submit, "Show me magic!", class:"btn btn-success" %>
    </div>
  <% end %>
</div>






    <%#= image_tag "duration.svg" %>
