<div class="container">

  <h1>Make the most out of your commute</h1>

<i class="fas fa-location-arrow"></i>

<i class="fas fa-map-marked"></i>

<i class="fas fa-clock"></i>




  <%= simple_form_for @itinerary do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :start_point, class:"input"%>
    <%= f.input :end_point, class:"input" %>
    <%= f.button :submit, "Show me magic!", class:"btn btn-success" %>
  <% end %>
</div>
