<div class="container">
  <div class="itinerary-title">
    <h1>Make the most out of your commute</h1>
  </div>
  <div class="itinerary-form">
    <%= simple_form_for @itinerary do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="itinerary-form-input start-point">
        <%= image_tag "location_here.svg", class:"icon-itinerary" %>
        <%= f.input :start_point, class:"input"%>
      </div>
      <div class="itinerary-form-input end-point">
        <%= image_tag "destination.svg", class:"icon-itinerary" %>
        <%= f.input :end_point, class:"input" %>
      </div>
      <%= f.button :submit, "Show me magic!", class:"btn btn-success" %>
    <% end %>
  </div>

</div>






    <%#= image_tag "duration.svg" %>
