<div class="container">
  <div class="itinerary-show-title">
    <h1><span class='emphasis-title-green'>Discover</span> amazing stuff</h1>
  </div>
  <div class="itinerary-sumup">
    <div class="itinerary-origin">
      <div class="itinerary-icon">

      </div>
      <div class="itinerary-step">
        <%=@itinerary.start_point %>
      </div>
    </div>

    <div class="itinerary-destination">
      <div class="itinerary-icon">

      </div>
      <div class="itinerary-step">
        <%= @itinerary.end_point %>
      </div>
    </div>

    <div class="itinerary-duration">
      <div class="itinerary-icon">

      </div>
      <div class="itinerary-step">
        <%= @itinerary.duration_in_minutes %> min
      </div>
    </div>


  </div>





  <div class="suggestions">
    <div class="suggestion-title">

    </div>
    <div class="suggestions-results">

    </div>
  </div>

  <% @suggestions.each do |suggestion| %>
  <%= link_to suggestion.inspiration.name, suggestion.inspiration.url, target: "_blank"   %>
  <%= suggestion.inspiration.duration %> min

  <% end %>




















</div>
