<%= render 'shared/modal_watchlist_disconnected' %>
<div class="container">
  <% if @itinerary.duration == 0 %>
  <div class="title-center">
    <h1>No <span class='emphasis-title-green'>public transport</span> itinerary found 😵 </h1>
    <h4>Try again by filling the duration of your commute</h4>
  </div>
  <div class="btn-back">
    <%= link_to "Back", new_itinerary_url, class:'btn btn-warning' %>
  </div>
  <% else %>
    <div class="title-center">
      <h1>Make the <span class='emphasis-title-green'>most</span> out of your commute</h1>
    </div>
    <div class="itinerary-sumup">
      <% unless @itinerary.start_point == "" || @itinerary.end_point == "" %>
        <div class="itinerary-card origin">
            <%= image_tag "location_here.svg", class:"icon-itinerary" %>
          <div class="itinerary-step">
            <%=@itinerary.start_point %>
          </div>
        </div>
        <div class="itinerary-card destination">
            <%= image_tag "destination.svg", class:"icon-itinerary" %>
          <div class="itinerary-step">
            <%= @itinerary.end_point %>
          </div>
        </div>
      <% end %>
      <div class="itinerary-card duration">
          <%= image_tag "duration_white.svg", class:"icon-itinerary" %>
        <div class="itinerary-step">
          <%= @itinerary.duration %> min
        </div>
      </div>
    </div>
    <div class="suggestions">
      <div class="suggestions-results ">
        <% unless @article_suggestions.empty? %>
          <h2>Articles</h2>
          <div class="row">
            <% @article_suggestions.each do |suggestion| %>
                <%= render 'shared/suggestion_card', suggestion: suggestion %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="suggestions-results ">
        <% unless @podcast_suggestions.empty? %>
          <h2>Podcast</h2>
          <div class="row">
            <% @podcast_suggestions.each do |suggestion| %>
              <%= render 'shared/suggestion_card', suggestion: suggestion %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="suggestions-results ">
        <% unless @video_suggestions.empty? %>
          <h2>Videos</h2>
          <div class="row">
            <% @video_suggestions.each do |suggestion| %>
                <%= render 'shared/suggestion_card', suggestion: suggestion %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


