<h1>Itinerary#show</h1>

<h2>From</h2>
<%=@itinerary.start_point %>

<h2>to</h2>
<%= @itinerary.end_point %>

<h2>Duration</h2>
<%= @duration_text %>

<h2>Ted Videos</h2>

<%#= link_to @inspiration_first.name, @inspiration_first.url  %>
<%#= @inspiration_first.duration + 1 %>

<% @suggestions.each do |suggestion| %>
<%= link_to suggestion.inspiration.name, suggestion.inspiration.url, target: "_blank"   %>
<%= suggestion.inspiration.duration %> min
<br>
<% end %>
