
  <div class="col-xs-12 col-sm-3"  >
  <%#= render 'suggestions/watchlist_button', suggestion: suggestion %>
    <div class="card-suggestion">
    <!-- Bug caused because of the watchlist btn. Idk why ? But when removing it, it fixes it. -->
      <div id="watchlist-suggestion-<%= suggestion.id %>">
        <%= render 'shared/watchlist_btn', suggestion: suggestion%>
      </div>
      <%= link_to suggestion_path(suggestion), :method => :put, :target => '_blank' do %>
      <span class="name"><%= suggestion.inspiration.name %> </span>
      <span class="duration"><%= suggestion.inspiration.duration %> min</span>
      <span class="source">From <%= suggestion.inspiration.source %></span>
    </div>
  </div>
<% end %>
